.max-width-wrapper {
  /* max-width: 300px;
  margin: 0 auto; */
  padding: 1rem;
  background-color: var(--light);
  border-radius: 10px;
}

.max-width-wrapper img {
  width: 100%;
}

.content {
  text-align: center;
  padding-bottom: 1rem;
}

.content h3 {
  color: var(--dark-blue);
  font-size: 22px;
}

.content p {
  color: var(--grayish-blue);
  font-size: 14px;
}
